@charset "UTF-8";
/* CSS Document */



body {
	background-image: url(images/background.jpg);
	color: #2E2649;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}
.header1 {
	background-image: url(images/header1.png);
	background-repeat: repeat-x;
}
.header2 {
	background-image: url(images/header2.png);
	background-repeat: repeat-x;
}

.banner {
	padding-top: 20px; 
	padding-bottom: 20px;
	font-size: 45px;
	font-family: 'Berkshire Swash';
	font-weight: bolder;
	color: #95CBE8;
}

.contentbg {
	background-image: url(images/yellow-bg.jpg);
	width: 800px;
	margin: auto;
	border: 2.5px dashed #CC3333;
	float: none;
}
.content{
	color: #000000;
	margin-top: 35px;
	margin-bottom: 10px;
	margin-left: 55px;
	margin-right: 55px;
	line-height: 28px;
	font-size: 12px;
}
.navH{
	float: left;
	width: 124px;
	padding-top: 0px;
	margin-top: 0px;
	text-decoration: none;
}

A{ 
	text-decoration: none;
}

.one{
	margin-top:15px;
	background-repeat: no-repeat;
	left: 5px;
	color: white;
	font-size: 12px;
	height: 24px;
	padding-left: 10px;	
	padding-top: 3px;
	background-image:url(nav/1.gif);
}

.one:hover {
	 background-image:url(nav/1a.gif);
	 color: #2E2649;
 }
.two{
	margin-top:15px;
	background-repeat: no-repeat;
	left: 5px;
	color: white;
	font-size: 12px;
	height: 24px;
	padding-left: 10px;	
	padding-top: 3px;
	background-image:url(nav/2.gif);
}
.two:hover { 
	background-image:url(nav/2a.gif); 
	color: #2E2649;
}
.three{
	margin-top:15px;
	background-repeat: no-repeat;
	left: 5px;
	color: white;
	font-size: 12px;
	height: 24px;
	padding-left: 10px;	
	padding-top: 3px;
	background-image:url(nav/3.gif);
}
.three:hover { 
	background-image:url(nav/3a.gif); 
	 color: #2E2649;
}
.four{
	margin-top:15px;
	background-repeat: no-repeat;
	left: 5px;
	color: white;
	font-size: 12px;
	height: 24px;
	padding-left: 10px;	
	padding-top: 3px;
	background-image:url(nav/4.gif);
}
.four:hover { 
	background-image:url(nav/4a.gif); 
	 color: #2E2649;
}
.heading{
	font-size: 72px;
	color: white;
}

.em{
	font-size: 13px;
	color: white;
	font-style: bolder;
}

.illuminated {
	float:left; 
	padding-top: 17px; 
	padding-right: 5px; 
	padding-bottom: 20px;
}

.phototable {
	width: 900px;
	height: 4370px;
	position: absolute;
	top: 20%;
	left: 20%;
	text-align: center;
}

.photoframe {
	height: 520px;
	width: 430px;
	display: inline-block;	
	vertical-align: text-top;
	text-align: center;
	margin: 2px;

}

.galleryphoto {
	max-width: 420px;
	max-height: 490px; 
  margin: auto;
  margin-top: 15px;

}

.embedvideo {
	margin-left: 25px;
}

